<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% phc = 'PH2' %>
<% content_for :title do %>Packhouse <%= phc %> - crates per shift<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="5" data-sizey="3">
      <div data-id="crateschart_<%= phc %>" data-view="GoogleColumn" style="background-color:#96bf48;" data-is_stacked='true' data-title="Crates per Shift (Target > 350)"></div>
    </li>
  </ul>
</div>
